{% extends "layout.html" %}
{% block content %}
    <h2>Bubble Tea Store</h2>
    <form action="{{ url_for('sign') }}" method=post>
	<input type=text name=name placeholder="Store Name">
    <input type=text name=staddr placeholder="Streeet Address">
    <input type=text name=city placeholder="City">
    <input type=text name=state placeholder="State">
    <input type=text name=zipcode placeholder="Zipcode">
	<input type=text name=storehours placeholder="Store hours">
    <input type=text name=phonenumber placeholder="Phone"><br>
    <select name=rating>
        <option value="" disabled selected>Rating</option>
        <option value="&#9733;&#9734;&#9734;&#9734;&#9734;">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9734;&#9734;&#9734;">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9734;&#9734;">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9734;">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
    </select></p>
	<textarea rows=5 cols=50 name=menu placeholder="Enter Bubbletea Menu"></textarea></p>
    <textarea rows=5 cols=50 name=review placeholder="Leave your review"></textarea></p>
	<p><input type=submit value=Sign></p>
    </form>

    <h2>Entries</h2>
    {% for entry in entries %}
        <p class=entry>
            {{ entry.name }}     {{ entry.rating }}<br>
            {{ entry.staddr }}<br>
            {{ entry.city }}   {{ entry.state }}   {{ entry.zipcode }}<br>
            {{ entry.storehours }}   &lt;{{ entry.phonenumber }} &gt;<br>

            {{ entry.menu }}<br>
            {{ entry.review }}
	    <br>signed on {{ entry.signed_on }}<br>
        </p>
    {% endfor %}

{% endblock %}
